<div class="form-index-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">
                  <h1>Add a Post to the City of <%= @city.name %></h1>
                  <%= render "form" %>
                </div>
            </div>
        </div>
    </div>
</div>
