<div class="city-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="intro">
                  <h1> Here are the Current Tipsy Cities in the App</h1>
                  <hr>

                  <hr>
                  <div class="card-deck-wrapper">
                      <div class="card-deck">
                        <% @cities.each do |city| %>
                        <div class="card_city">
                          <img class="card-img-top" src="<%= city.image %>" alt="Card image cap">
                          <div class="card-block">
                            <h4 class="card-title"><%= city.name %></h4>
                            <p class="card-text">Descrtiption: <%= city.description %></p>
                            <p class="card-text"><small class="text-muted"><%= link_to "City and posts", city_path(city) %></small></p>
                          </div>
                        </div>
                        <% end %>
                      </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
</div>
